/*  Resuable */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}

.btn {
  display: inline-block;
  padding: 0.5em 0.8em;
  /* margin: 0 0.3em 0.3em 0; */
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
}

/* Home Page*/
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Home Section */
#home {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.home-content {
  color: #000;
  text-align: center;
}

.home-content .intro {
  /* font-family: 'Merriweather', serif; */
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 3.5rem;
  padding: 3rem;
  width: 700px;
}


.intro span a {
  color: #000;
}

.greyOut {
  color: rgb(160, 156, 156);
}

/* Navbar */
.navbar,
.footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin: 2rem 4rem;
}

.navbar {
  align-items: center;
}

ul li {
  list-style: none;
  display: inline-block;
  margin: 0 0.5rem;
}

.navbar a,
.footer a {
  text-decoration: none;
  color: #000;
}

.logo a {
  text-transform: capitalize;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  font-size: 2rem;
}

/* Footer */
.footer p {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.navbar .btn,
.footer .btn {
  color: #000;
  border: 1px solid #fff;
}

.btn.active {
  color: #000;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
}

.navbar .btn:hover,
.footer .btn:hover {
  color: #000;
  border: 1px solid #000;
}

.footer {
  margin: 1rem 4rem;
}

/* Projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
  grid-gap: 10px;
}

.project-grid img {
  width: 100%;
  max-height: 230px;
  border-radius: 0;
  opacity: 1;
}

.content {
  position: relative;
  width: 100%;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  /* width: 100%; */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-detail {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 40%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .overlay-detail {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.overlay-text,
.overlay-text a {
  color: #fff;
  text-decoration: none;
}

.overlay-text h2 {
  padding-bottom: 15px;
  font-weight: bold;
}

/* project overlay btn */
#project-btn {
  color: #fff;
  border: 0.1em solid #fff;
  font-size: 1rem;
  padding: 0.5em 0.8em;
}

#project-btn:hover {
  background-color: #fff;
  color: #000;
}

.content:not(.active) #project-btn {
  cursor: not-allowed;
}

/* CONTACT */
#contact {
  color: #000;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.contact-content {
  max-width: 600px;
  margin-bottom: 3rem;
  line-height: 2.5rem;
}

.contact-icon {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  margin: 0 1.2rem;
  color: #000;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.contact-icon:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }

  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px)
  }

  60% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px)
  }
}


@media only screen and (max-width: 950px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {

  /* navbar */
  .navbar,
  .footer {
    margin: 2rem;
  }

  /* Home */
  .home-content .intro {
    line-height: 2.3rem;
    width: 80%;
    margin: 0 auto;
  }

  /* Porject */
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin: 2rem auto;
  }

  .project-grid img {
    width: 100%;
    height: 100%;
    max-height: 300px;
  }

  /* Contact */
  .contact-content {
    max-width: 80%;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 500px) {

  .navbar,
  .footer {
    margin: 2rem 1rem;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 2rem;
  }

  .navbar ul {
    width: 100%;
    display: flex;
    text-align: center;
  }

  .navbar ul li {
    width: 30%;
  }

  .footer {
    margin: 1rem 0 10px;
  }

  .footer ul {
    order: -1;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
}

/* Homepage main text focus in animation */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}